* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p{
    font-size: 16px;
  }
 
  body {
    font-family: Arial, sans-serif;
  }
  
  header, nav, main, section, footer {
    padding: 20px;
  }
  

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
  
  header {
    grid-area: header;
    background-color: #333;
    color: white;
  }
  
  nav {
    grid-area: nav;
    background-color: #5a5555;
    color: white;
  }
 a:active{
   background-color:whitesmoke;
   
 }
 
  main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  section {
    background-color: #ccc;
   padding: 20px;
  }
  
  footer {
    grid-area: footer;
    background-color: #666;
    color: white;
  }
  
 
  @media screen and (max-width: 768px) {
    body {
      grid-template-areas:
        "header"
        "main"
        "nav"
        "footer";
    }
  
    nav {
      order: -1;
    }
  }