.conteudo{
    background-color:white;
    border: 2px solid brown;
    width: 33%;
    height: 240px;
    float: left;
    
}
p{
    position: relative;
    border: 5px;
    padding: 10px;
}
.clear{
    clear: both;
}
img{
    border: 10px;
    width: 33%;
    height: 33%;
    padding-top: 10px;
}